body {
    background-color: midnightblue;
    max-width: 1250px;
}
.container {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
.ul {
    list-style: none;

    position: relative;
    text-align: left;
    color: white;

    display: inline-flex;
    font-family: 'Roboto', sans-serif;
}
.list {
    font-size: 30px;
    position: absolute;
    display: inline-block;
    top: 25px;
    margin-top: -50px;
    left: -35px;     
    }
.left1 {
    padding: 5px 10px 5px;
    text-align: center;
    background-color: violet;
    border: solid 2px black;
    margin: 5px;
    height: 50px;
    width: 100px;
}
.left2 {
    padding: 5px 10px 5px;
    text-align: center;
    background-color: violet;
    border: solid 2px black;
    margin: 5px;
    height: 50px;
    width: 100px;
}
.left3 {
    padding: 5px 10px 5px;
    text-align: center;
    background-color: violet;
    border: solid 2px black;
    margin: 5px;
    height: 50px;
    width: 100px;
}
.title {
    position: absolute;
    top: 400px;
    text-align: right;
    display: inline-block;
    right: 640px;
    height: 40px;
    font-size: 35px;
    color: blueviolet;
}
.LOGO1 {
    position: absolute;
    top: 10px;
    left: 1095px;
}
.LOGO2 {
    position: absolute;
    top: 10px;
    left: 1095px;
}
.LOGO3 {
    position: absolute;
    top: 6px;
    left: 1130px;
}
.resume {
    position: inherit;
    display: inline-block;
    width: 192px;
    top: -30px;
    margin-top: 50px;
    padding: 20px 545px 20px;
    font-size: 25px;
    background-color: greenyellow;
    color: darkmagenta;
    border: solid 2px #000;
}
.center {
    position: relative;
    text-align: left;
    left: 150px;
    top: 0 auto;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 400px;
    margin: 0 auto;
}
.center p {
    text-align: center;
    color: cyan;
    margin: 0;
    padding-left: 25px;
    display: inline-block;
}
.center2 {
    position: relative;
    text-align: justify;
    left: 100px;
    top: -25px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 400px;
    margin: 0;
}
.center2 p {
    text-align: justify;
    color: crimson;
    margin: 0;
    border: 0;
    padding-left: 0px;
    width: 1000px;
}
.center2a {
    position: relative;
    text-align: justify;
    color: seagreen;
    left: 350px;
    top: 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 500px;
    margin: 0;
}
a:hover {
    background-color: gold;
}
.left1a {
    background-color: gold;
    padding: 5px 10px 5px;
    text-align: center;
    border: solid 2px black;
    margin: 5px;
    height: 50px;
    width: 100px;
}
.left2a {
    background-color: gold;
    padding: 5px 10px 5px;
    text-align: center;
    border: solid 2px black;
    margin: 5px;
    height: 50px;
    width: 100px; 
}
.left3a { 
    background-color: gold;
    padding: 5px 10px 5px;
    text-align: center;
    border: solid 2px black;
    margin: 5px;
    height: 50px;
    width: 100px;
}