<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/styles/style2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>
<header id="intro">
    <nav>
    <div class="container">
        <div class="title"><h1>NorCal Time Trial Series</h1></div>
        <div class="list">
        <ul class="ul">
        <li class="right1"> <a href="Design2.html">Home</a></li>
        <li class="right2"> <a href="about2.html">About</a></li>
        <li class="right3a"> <a href="Contact2.html">Contact</a></li>
        </ul>
        </div>
        <img src="../asset/media/Car1.jpg" width="1285px" height="500px"/>
        <h3 class="resume">Contact</h3>
        <div class="LOGO"><img src="../asset/media/LOGO.png" width="180" height="180"/>
        </div>
    </div>
    </nav>
</header>
<nav>
    <div class="center2a">  
        <p>Please email us at:
        <a href="info@nctts.org">info@nctts.org</a></p>
    
        <p>We will reply as quickly as we can.</p>
            </div>
</nav>
</body>