<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NorCal Time Trials Series</title>
  
</head>
<body>
    <img src="../asset/media/LOGO.png" width="180" height="180"/>
    <img src="../asset/media/Image 1.png" width="240" height="240"/>
<nav>
    <ul>
<li> <a href="index.html">Home</a></li>
<li> <a href="about.html">About us</a></li>
<li> <a href="Contact.html">Contact us</a></li>
</nav>
</ul>
     <h1>NorCal Time Trial Series</h1>
     <h3>Upcoming Events</h3>

     <h4>February 12</h4>
     <p>Board Meeting</p>

     <h4>February 25</h4>
     <p>Drivers Zoom Meeting</p>

     <h4>March 12</h4>
     <p>First Event at Thunderhill!</p>
</body>